@model SEP.Models.Group

@{
    ViewBag.Title = "Create";

}

<link href="~/Content/jquery.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/datatable.min.css" rel="stylesheet" />
<link href="~/Content/box-shadow.css" rel="stylesheet" />
<h3>Create a New Supervisor</h3>
<script src="~/Scripts/jquery-ui-1.9.2.js"></script>

<div>
    <a href="~/Groups" class="btn btn-info btn-sm">
        <span class="glyphicon glyphicon-arrow-left"></span> Back
    </a>

</div>
<section class="container">

    <div class="box effect2">
       @using (Html.BeginForm())
       {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4 style="color:#625d5d">Create a Group</h4>
            <hr />
            <div class="form-group">
                @Html.LabelFor(model => model.GroupID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.GroupID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GroupID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ProjectID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ProjectID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ProjectID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Supervisor, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Supervisor", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ProjectID, "", new { @class = "text-danger" })
                </div>
            </div>
             <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
       }
    </div>


</section>

