@model SEP.Models.Project

@{
    ViewBag.Title = "Create";
}
@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@


<link rel="stylesheet" href="bootstrap.css">
<script src="bootstrap.js"></script>

<h2>New Project</h2>
<hr />
<div class="col-lg-12">
    <input type="button" value="View All Projects" class="btn btn-info" onclick="location.href='@Url.Action("Index", "Projects")'" />
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.ModuleId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-offset-2">
                @Html.DropDownListFor(model => model.ModuleId, new SelectList(ViewBag.ModuleName, "ModuleId", "ModuleId"),
              "Select Module", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ModuleId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-offset-2">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-offset-2">
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Client, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-offset-2">
                @Html.EditorFor(model => model.Client, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.Client } })
                @Html.ValidationMessageFor(model => model.Client, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PreferedTechnologies, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-offset-2">
                @Html.EditorFor(model => model.PreferedTechnologies, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PreferedTechnologies, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">

            <div class="col-md-offset-4 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />

            </div>
        </div>
    </div>

}


