@model SEP.Models.Module

@{
    ViewBag.Title = "Details";
}

<h4>Details</h4>
<hr />
<div>

    <div class="container">
        <div class="panel panel-info">
            <div class="panel-heading"><h3>Module:  @Html.DisplayFor(model => model.ModuleId) </h3></div>
            <div class="panel-body" style="width:500px;">

                <dl class="dl-horizontal">

                    <dt>
                        <h4>  @Html.DisplayNameFor(model => model.Description) </h4> </dt>

                    <dd>
                        <h4>    @Html.DisplayFor(model => model.Description)</h4> </dd>

                    <dt>
                        <h5> @Html.DisplayNameFor(model => model.MaxCount)</h5>  </dt>

                    <dd>
                        <h5> @Html.DisplayFor(model => model.MaxCount)</h5></dd>

                    <dt>
                        <h5> @Html.DisplayNameFor(model => model.Year)</h5>    </dt>

                    <dd>
                        <h5> @Html.DisplayFor(model => model.Year)</h5>     </dd>

                    <dt>
                        <h5> @Html.DisplayNameFor(model => model.semester)</h5>    </dt>

                    <dd>
                        <h5> @Html.DisplayFor(model => model.semester)</h5>    </dd>

                    <dt>
                        <h5>  @Html.DisplayNameFor(model => model.LecturerIncharge)</h5>    </dt>

                    <dd>
                        <h5> @if (Model.LecturerIncharge == null)
                        {
                            @Html.Raw("N/A")

                        }
                        @Html.DisplayFor(model => model.LecturerIncharge)</h5>   </dd>
                    <dt>
                        <h5>   @Html.DisplayNameFor(model => model.MaxLecPanel)</h5> </dt>

                    <dd>
                        <h5>@Html.DisplayFor(model => model.MaxLecPanel)</h5>  </dd>

                </dl>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ModuleId }) |
    @Html.ActionLink("Back to List", "ViewAll")
</p>
