@model IEnumerable<SEP.Models.Module>

@{
    ViewBag.Title = "ViewLecIC";
}


<link rel="stylesheet" href="bootstrap.css">
<script src="bootstrap.js"></script>

@using (Html.BeginForm())
{


    @*<div class="col-md-8">
            Search Module
            @Html.TextBox("SearchString")

            <button type="submit" class="btn btn-info">
                <span class="glyphicon glyphicon-search"></span> Search
            </button>

            <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("ViewLecIC", "Modules")'">
                <span class="glyphicon glyphicon-refresh"></span> Refresh
            </button>

        </div>*@

}
<hr />
<div class="col-lg-12">
    <input type="button" value="View All Modules" class="btn btn-default" onclick="location.href='@Url.Action("ViewAll", "Modules")'" />
    <input type="button" value="View Lecturers" class="btn btn-default" onclick="location.href='@Url.Action("Index", "Lecturers")'" />
</div>
<hr />
<br />

<table class="table table-hover">
    <tr class="active">
        <th>
            @Html.DisplayNameFor(model => model.ModuleId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.semester)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LecturerIncharge)
        </th>


        <th></th>
    </tr>

    @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ModuleId)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.semester)
            </td>
            <td>
                @if (item.LecturerIncharge == null)
                {
                    @Html.Raw("N/A")

                }
                @Html.DisplayFor(modelItem => item.LecturerIncharge)
            </td>
            <td>
                @Html.ActionLink("Assign Lecturer-Incharge", "AssignLecIC", new { id = item.ModuleId })

            </td>
        </tr>
    }

</table>



