@model IEnumerable<SEP.Models.Student>
@{
    ViewBag.Title = "Index";
}


   <link href="@Url.Content("~/Content/Stu_module.css")" rel="stylesheet" type="text/css" />

    <div class="container">
        <h2>   Student List</h2>
        <div class="row">
            <div class="col-sm-3">
                @*<div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        Dropdown Example
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" id="myul">
                        @foreach (var item in Model) {
                            <li id="">@item.RegistrationNo</li>
                           
                        }
                    </ul>
                </div>*@

                <div id="serachBar">
                    
               
                    @using (Ajax.BeginForm(
new AjaxOptions
{
    HttpMethod = "get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "sortedList"
}))
                    {
                            <input type="search" name="searchTerm" id="txtsearch" />
                            <button type="submit" id="searchbtn" class="btn btn-info"><span class="glyphicon glyphicon-search"></span></button>

                        //<button type="button" id="searchbtn" class="btn btn-info"><span class="glyphicon glyphicon-search"></span></button>
                            <h4>Search By Name</h4> 
                    }
                    <br />

                    <div id="sortedList" style="overflow:auto; max-height:300px;">

                        <ul class="list-group" id="ev1">
                            @foreach (var item in Model)
                            {
                               <li class="list-group-item "> <a id="linkOnList">@item.Name</a></li>
                            }
                        </ul>

                    </div>
                </div>
            
            </div>
           
            <div class="col-sm-6">
                
                    <div class="row" id="proName">
                        Student Details
                    </div>
                    <div class="row" id="imgBox">
                        <img id="kkkk" style="height:150px;width:150px;float:right;"/>
                    </div>
                <br />
                <br />
                <label id="lReg" style="margin-bottom:5px;margin-top:5px;width:200px; display:none;"></label>
                    
                <table class="table table-striped" id="detailsTbl">
                    <tr>
                        <td>Name</td>
                        <td id="tname"></td>
                    </tr>
                    <tr>
                        <td>GPA</td>
                        <td id="tgpa"></td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td id="tphone"></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td id="temail"></td>
                    </tr>
                    
                </table>
@* method to display the chart*@
                   

                @*Method to view the chart*@ 
                <div id="chartView">
                    <img src="@Url.Action("DrawChart")" alt="Drawing chart with HTML Helper" />
                </div>
                
            </div>

            <div class="col-sm-3">
                <br /><br /><br /><br /><br />
                <div class="col-sm-2" id="addGrp">
                    Add to Group<br />
                    @*<span class="glyphicon glyphicon-user" style="resize: both;"></span>*@
                    <img src="~/Content/ImagesK/add.png" />
                </div>
                <div class="col-sm-2" id="creategrp">
                    Create a Group<br />
                    @*<span class="glyphicon glyphicon-user" style="resize: both;"></span>*@
                    
                </div>
                <label id="myReg" style="display: none;">IT14112706</label>
                @*<input type="submit" id="btnAddGrp" value="Add to Group" /><br /><br />
                No of students currently in your group: <label id="txtstuCount" width="20" ></label>*@
                
                <br /><br /><br /><br /><br /><br />
                
                <input type="button" id="btnView" value="View My Group" /><br/>
                <table id="Grptable" border="1" style="visibility:hidden;">
                    <tr>
                        <th>Name</th>
                        <th>Registration No</th>
                        <th>Contact Number</th>
                    </tr>
                    <tr>
                        <td id="m1Name"></td>
                        <td id="m1Reg"></td>
                        <td id="m1Phone"></td>
                    </tr>
                    <tr>
                        <td id="m2Name"></td>
                        <td id="m2Reg"></td>
                        <td id="m2Phone"></td>                                                      
                    </tr>
                    <tr>
                        <td id="m1Name"></td>
                        <td id="m1Reg"></td>
                        <td id="m1Phone"></td>
                    </tr>
                </table>
                
                
            </div> 
        </div>
       </div>
@section scripts
{
    <script src="@Url.Content("~/Scripts/kav_loadstu.js")"></script>
}




@{  
     <script src="~/Scripts/kav_loadstu.js"></script>
}
