@model IPagedList<Lecturer>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Ajax.BeginForm(
                                        new AjaxOptions
                                        {
                                            HttpMethod = "get",
                                            InsertionMode = InsertionMode.Replace,
                                            UpdateTargetId = "le_1"
                                        }))
{
    <div class="row mt form-inline" style="margin-left:2px">
        
        <div class="form-inline"><input type="search" name="searchterm" class="form-control" id="exampleInputEmail2" />
        <input type="submit" value="SearchByName" class="btn btn-theme" /></div>
    </div>
}
<div id="le_1">
    <div class="pagedList" data-otf-target="#le_1">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.MinimalWithItemCountText)
    </div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                <h4>Name</h4>
            </th>
            <th>
                <h4>Email</h4>
            </th>
            <th>
                <h4>Contact No</h4>
            </th>
            <th>
                <h4>Module</h4>
            </th>
            <th>
                <h4>Qualification</h4>
            </th>
            <th>
                <h4>Avatar</h4>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Module)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Qualification)
                </td>
                <td>
                    <img src="@item.Avatar" height="100" width="100" />

                </td>
                <td>
                    
                      @*@Html.ActionLink("Edit", "Edit", new { id = item.LecturerId })*@
                        @*<button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-edit" aria-hidden='true'></span>
                             <a href="@Url.Action("Edit",new { id = item.LecturerId })">Edit</a>
                        </button>|*@ 
                       <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden='true'></span>
                             <a href="@Url.Action("Details",new { id = item.LecturerId })">Details</a>
                        </button>|
                         <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-folder-close" aria-hidden='true'></span>
                        <a href="@Url.Action("Delete",new { id = item.LecturerId })">Delete</a>
                        </button> 
                    @*@Html.ActionLink("Details", "Details", new { id = item.LecturerId })|
                    @Html.ActionLink("Delete", "Delete", new { id = item.LecturerId })*@
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
